.page-footer {
  background: var(--bg-color);
  padding: 60px 0;
}
.footer-contact {
  color: var(--for-black-color);
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus,
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
.mailto,
.tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.end {
  display: flex;
  justify-content: flex-start;
}
.soc-title {
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
}
.footer-social {
  width: 206px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-transform: uppercase;
  color: var(--for-black-color);
  margin-left: 70px;
}
